html{
  background-color: rgba(63, 23, 23, 0.856);
}
.container-fluid{
  background-color: rgba(63, 23, 23, 0.856);
}
input[type="text"]{
  background: transparent;
  color:wheat;
}
input[type="text"]:focus{
  background: transparent;
  color:wheat;
}